html
{
    height: 100%;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
}

body
{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    background-image: url(../images/bg-peaks-1900-min.png), linear-gradient(to bottom, #0057ab 0%, #0057ab 40%, #00274d 60%, #00274d 100%);
    background-repeat: no-repeat;
    height: 85%;
    background-position: 40% center;
    background-size: 2560px;
    display: block;
    overflow: auto;

}

#content
{
    align-content: center;
    text-align: center;
    height: 100%;
}

.parent
{
    overflow: auto;
}

.login-form-div
{
    align-content: center;
    text-align: center;
    height: 100%;
    max-width: 275px;
    display: inline-block;
    margin-top: 25px;
}

.logo-img
{
    margin-top: 60px;
    cursor: pointer;
    display: inline-block;
}

.text-form
{
    font-family: acumin-pro-bold, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: white;
    line-height: 16px;
    text-align: left;
    position: relative;
    left: 0;
}

.input
{
    border-width: 3px;
    font-family: acumin-pro-bold, sans-serif;
    color: #003466;
    font-weight: bold;
    background-color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: none;
    border: none;
}

.password
{
    font-weight: 900;
}

.btn
{
    margin-top: 20px;
    color: #003466;
    background: #ffd200;
    border-radius: 0.8rem;
    border: solid 0.2rem #ffd200;
    font-weight: 700;
    width: 125px;
    height: 35px;
}

.btn:hover
{
    background: aliceblue;
}