html
{
    height: auto;
    margin: 0;
}

body
{
    margin: 0;
    padding: 0;
    padding-top: 1px;
    border: 1px solid transparent;
    background-image: url(../images/Science_Building_Blue.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text
{
    font-family: acumin-pro-bold, sans-serif;
}

.login-box
{
    width: 50%;
    margin: 45px auto;
    background-color: #003466;
    border-radius: 4px;
    align-content: center;
    padding-bottom: 35px;
    min-width: 550px;
}

.login-content
{
    margin-top: 10px;
    align-content: center;
    text-align: center;
}

#nau-logo
{
    max-width: 500px;
    vertical-align: center;
    align-content: center;
    margin-top: 25px;
}

#title
{
    font-size: 48px;
    margin-top: 20px;
}

#main-word
{
    color: #009ddc;
}

#prefix
{
    color: #eab22b;
    margin-right: 0 auto;
    padding-right: 0 auto;
}

#sign-in
{
    margin-top: 30px;
    border-width: 2px;
    border: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #eab22b;
    border-color: #eab22b;
    color: #003466;
    font-weight: 900;
    border-radius: 4px;
    min-width: 235px;
    cursor: pointer;
    border-style: solid;
}

#sign-in:hover
{
    background-color: #ffffff;
    border-color: #eab22b;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
}

a:link
{
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}

a:active
{
    text-decoration: none;
}

